.single_domain-parent_w {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}


.single_domain-body_w {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-self: stretch;
}


.single_domain-body-col_2 {
    flex-grow: 1;
    padding: 40px;
}