.single_domain-parent_w {
    background-color: white;
    position: fixed;
    top: 156px;
    right: 0px;
    bottom: 0px;
    left: 104px;

    
    display: flex;
    flex-direction: column;
    align-self: stretch;
}


.single_domain-body_w {    
    background-color: white;
    position: fixed;
    top: 156px;
    right: 0px;
    bottom: 0px;
    left: 104px;

    display: flex;
    flex-direction: row;
    align-self: stretch;
}

