.single_domain-header_w {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    padding: 40px 40px 40px 40px;
    border-bottom: 1px solid #f2f2f2;

    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 104px;
}

.single_domain-header-icon {
    width: 40px;
    height: 40px;
    padding: 16px;
    margin-right: 28px;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
}

.single_domain-header-content_w {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

.single_domain-header-meta_w {
    padding-top: 2px;
}