.SdPreview-card-parent_w {
    padding: 16px;
    margin-right: 12px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.10);
    width: 275px;
}