.SDList-parent_w {
    background-color: white;
    position: fixed;
        top: 155px;
        bottom: 0px;
        right: 0px;
        left: 464px;

    border-left: 1px solid #f2f2f2;
    padding: 40px;
    overflow: auto;
}

.SD_summary {
    font-weight: 800;
}

.SDL-line_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 24px;
    height: 32px;
}

.SDL-line_2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.SDL-line_2-col_1 {
    width: 63%;
    background-color: #f5f5f5;
    padding: 40px 40px 0px 40px;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.SDL-line_2-col_1-content_w {
    display: flex;
    flex-direction: row;
}

.SDL-line_2-col_2 {
    flex-grow: 1;
}

.padding40px {
    width: 40px;
    height: 40px;
}

.SDTypesList-parent_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.SDTypesList-singleTag {
    padding: 6px 12px 6px 12px;
    margin-right: 4px;
    background-color: #f5f5f5;
    border-radius: 40px;
    font-size: 14px;
    color: #5c5c5c;
}