.urlItem-parent_w {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.urlItem_w {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 6px;
    border-radius: 8px;
    margin: 4px 0px 4px 0px;
    color: #8E8E8E;
    font-size: 14px;
    max-width: 100%;

    /* create overflow ellipsis effect */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}

.urlItem-action_w {
    display: flex;
    flex-direction: row;
    align-items: center;
}