

.single_domain-url_list-parent_w {
    border-right: 1px solid #f2f2f2;
    width: 360px;
    height: 100%;
}

.single_domain-url_list-parent-inner_w {
    height: 100%;
    
}

    .single_domain-url_list-header_w {
        padding: 40px 40px 8px 40px;
        background-color: white;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .single_domain-url_list-header-col_2 {
        display: flex;
        align-items: center;
    }

    .single_domain-url_list-header-quantity_input {
        padding-right: 4px;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        color: #8E8E8E;
    }

    .single_domain-url_list-input {
        width: 56px;
        border: 1px solid #f2f2f2;
        background-color: #fbfbfb;
        border-radius: 4px;
        height: 20px;
    }

    .urlList_w {
        box-sizing: border-box;
        padding: 0px 40px 0px 40px;
        width: 360px;
        background-color: white;
        position: fixed;
            top: 264px;
            right: auto;
            bottom: 0px;
            left: 104px;

        overflow: scroll;
    }