

.single_domain-url_list-parent_w {
    border-right: 1px solid #f2f2f2;
    width: 360px;
    height: 100%;
}

.single_domain-url_list-parent-inner_w {
    height: 100%;
    
}

    .single_domain-url_list-header_w {
        padding: 40px 40px 8px 40px;
        background-color: white;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .single_domain-url_list-header-col_2 {
        display: flex;
        align-items: center;
    }

    .single_domain-url_list-header-select {
        background-color: #fbfbfb;
        border: 1px solid #f2f2f2;
        border-radius: 40px 0px 0px 40px;
        padding: 6px 24px 6px 8px;
        font-size: 12px;
        font-weight: 500;    
        color: #000;
        margin-right: -12px;
        height: 28px;

        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 12px;
    }

    .single_domain-url_list-input {
        width: 56px;
        border: 1px solid #f2f2f2;
        background-color: #fbfbfb;
        border-radius: 4px;
        height: 20px;
    }

    .urlList_w {
        box-sizing: border-box;
        padding: 0px 40px 0px 40px;
        width: 360px;
        background-color: white;
        position: fixed;
            top: 264px;
            right: auto;
            bottom: 0px;
            left: 104px;

        overflow: scroll;
    }