.add_w {
     /*  how to align a solo child in the middle  */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
     /* fill the rest of the div */
     flex-grow: 1;
}

.form_w {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.form_help_text {
     width: 332px;
     max-width: 100%;
     font-size: 12px;
     color: #8E8E8E;
}