.single_domain-parent_w {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.single_domain-header_w {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 40px 40px 40px 40px;
    border-bottom: 1px solid #f2f2f2;
}

.single_domain-icon {
    width: 40px;
    height: 40px;
    padding: 16px;
    margin-right: 28px;
    border-radius: 0px;
    border: 1px solid #f2f2f2
}

.signle_domain-body_w {
    display: flex;
    flex-grow: 1;
}